html {
  background: #131516;
}

body {
  font-family: "JetBrains Mono", Inconsolata, "PT Mono", monospace;
  height: 100%;
}

h1 {
  text-align: center;
  color: white;
}

#chat-box {
  max-height: 800px;
  width: 75%;
  margin: auto;
  overflow-x: auto;
  padding: 16px;
}

#chat-messages {
  max-height: 400px;
  overflow-y: auto;
  padding: 16px;
  border: 1px solid #ccc;
  margin-bottom: 8px;
}

.message {
  padding: 8px;
  margin-bottom: 8px;
  color: #e8e6e3;
  background-color: rgb(32, 35, 36);
  border-radius: 4px;
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
}

.message.complete {
  color: rgb(114, 255, 114);
}

.message.fade-out {
  opacity: 0;
}

#chat-form {
  display: flex;
}

#chat-input {
  flex-grow: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #181a1b;
  color: white;
}

#chat-form button {
  background-color: #007bff;
  border: none;
  color: white;
  padding: 8px 16px;
  margin-left: 8px;
  border-radius: 4px;
  cursor: pointer;
}

#chat-form button:hover {
  background-color: #0056b3;
}
